@font-face {
    font-family: 'OpenSans-Light';
    src: url(/media/fonts/OpenSans-Light.ttf);
}
*
{
    text-decoration: none;
    color: #1D1D1B;
    box-sizing: border-box;
    font-family: 'OpenSans-Light';
}
body{
    background-color: white;
}
#wrapper{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    max-width: 1240px;
    margin: 0 auto;
}
.locate{
    margin-right: 30px;
}
.locate img{
    margin-right: 5px;
}
.InfoBlock{
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;
}
.InfoBlock__links{
    width: 500px;
}
.InfoBlock__links a{
margin-right: 3%;
}
.InfoBlock__links img{
    margin-left: 5px;
    margin-bottom: 1.8px;
}
.header__number{
    display: flex;
}
header{
    width: 100%;
}
.header__items{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    margin-right: 10px;
}
.header__logo img{
    width: 136px;
    height: 24px;
}
.search{
    display: flex;
    width: 412px;
    height: 48px;
}
.search input{
    width: 412px;
    height: 48px;
    font-size: 16px;
    border: 1px solid #D5D5D5;
    padding-left: 10px;
    border-radius: 3px 0px 0px 3px;
}
.search input:checked, .search input:focus, .search input:active{
    border-radius: 3px 0px 0px 3px;
    outline: none;
}
.search__background{
    width: 56px;
    height: 48px;
    background: #E0001B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 3px 3px 0px;
}
.header__navigation{
    display: flex;
    align-items: center;
    height: 48px;
}
.header__navigation a{
    display: flex;
    align-items: center;
    margin-left: 5px;
    border-radius: 3px;
    height: 48px;
    padding: 10px;
}
.nav__favorits img{
    width: 24px;
    height: 19.63px;
}
.nav__or img{
    width: 26.63px;
    height: 24px;
}
.nav__cart img{
    Width: 24px;
    Height: 20.54px;
}
.header__navigation span, .header__navigation img{
    margin-right: 6px;
}
.header__navigation a:hover{
    background-color: #f8f8f8;
}
.alarm__ico{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    background-color: #E0001B;
    text-align: center;
    margin-right: 5px;
}
.header__underPanel{
    display: flex;
    align-items: center;
    height: 48px;
    margin-top: 10px;
}
.burger{
    display: flex;
    background: #E0001B;
    width: 136px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.burger img{
    width: 19px;
    height: 12px;
}
.burger span{
    color: white;
}
.header__categories img{
    width: 18.2px;
}
.header__categories{
    display: flex;
}
.header__categories span{
    margin-left: 7px;
}
.header__categories button{
    border: none;
    outline: none;
    background-color: #ffffff;
    font-size: 16px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 5px;
}
.header__categories button:hover{
    background-color: #f8f8f8;
}
.sales{
    color: red;
}
.sales__img img{
    padding: 0.5px;
    border: 1px solid red;
}